# .clang-tidy for Clang 21 (Subset of enabled checks)
Checks: >
  -*,bugprone-*,cert-*,clang-analyzer-*,concurrency-*,
  cppcoreguidelines-*,misc-*,modernize-*,performance-*,
  portability-*,readability-*,
  -readability-braces-around-statements,   #
  -readability-identifier-length,          #
  -readability-magic-numbers,              #
  -modernize-use-trailing-return-type,     #
  -bugprone-easily-swappable-parameters    #
WarningsAsErrors: "*" #
